.SearchBar input {
    border-radius: 20px;
    color: #242a3d;
    padding-left: 40px;
    margin: 16px auto;
  }
  
  .SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px 11px 9px 15px;
    margin-top: 10px;
  }
  
  .SearchIcon:hover {
    cursor: default;
    color: #cfced3;
  }